.BottomSection {
    width: 100%;
    display: flex;
    background: #ffffff;
    flex-direction: column;;
    .bottomreg {
        padding: 20px 0;
        background-color: #e9ebee;
        .container {
            max-width: 1170px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            .title {
                font-size: 38px;
                font-weight: 300;
                color: #747474;
                margin-top: 0;
                margin-bottom: 18px;
                letter-spacing: 1px;
                text-align: center;
                text-transform: capitalize;
                @media (max-width: 1200px) {
                    font-size: 3vw;
                }
                @media (max-width: 768px) {
                    font-size: 21px;
                }
            }
            .regform {
                .form-wrapper {
                    .Regform {
                        &.last-step {
                            display: none !important;
                        }
                        .inner {
                            max-width: 100%;
                            .form-wrapper {
                                flex-direction: row;
                                flex-wrap: wrap;
                                input {
                                    width: 31%;
                                    @media(max-width: 768px) {
                                        width: 100%;
                                    }
                                    &[type="password"] {
                                        width: 100%;
                                    }
                                }
                                ul {
                                    &.req {
                                        width: 100%;
                                    }
                                }
                            }
                            .intl-tel-input {
                                min-width: 480px;
                                @media (max-width: 500px) {
                                    min-width: 320px;
                                }
                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .social-proof {
        padding-bottom: 45px;
        font-family: Arial, sans-serif;
        background-color: #e9ebee;
        .container {
            max-width: 1170px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            @media (max-width: 991px) {
                max-width: 750px;
            }
            .section-heading {
                font-size: 38px;
                font-weight: 300;
                margin-bottom: 18px;
                color: #747474;
                text-align: center;
                letter-spacing: 1px;
                text-transform: capitalize;
            }
            .time {
                p {
                    font-size: 14px;
                    color: #333;
                    text-align: center;
                }
            }
            .wrapper-social-networks {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                @media (max-width: 991px) {
                    flex-wrap: wrap;
                }
                .social {
                    width: 48%;
                    @media (max-width: 991px) {
                        width: 100%;
                    }
                    .social-icon {
                        display: block;
                        width: 200px;
                        margin-right: auto;
                        margin-left: auto;
                        margin-bottom: 20px;
                    }
                    .post-list {
                        height: 300px;
                        background-color: #ffffff;
                        padding: 20px;
                        border: 1px solid #c5c5c5;
                        border-radius: 5px;
                        overflow: auto;
                        .post {
                            margin-bottom: 20px;
                            padding: 10px;
                            border: 1px solid #e4e4e4;
                            border-radius: 5px;
                            background-color: #f8f8f8;
                            .wrap {
                                .profile-info {
                                    display: flex;
                                    .img {
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        img {
                                            width: 50px;
                                            height: 50px;
                                        }
                                    }
                                    .name {
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        .title {
                                            display: block;
                                            color: #365899;
                                            font-size: 14px;
                                            font-weight: 700;
                                            margin-bottom: 6px;
                                            cursor: pointer;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                        .time {
                                            display: block;
                                            padding-left: 15px;
                                            background-image: url("../BottomSection/images/world.jpg");
                                            background-position: 0 50%;
                                            background-size: auto;
                                            background-repeat: no-repeat;
                                            color: #888;
                                            font-size: 12px;
                                            cursor: default;
                                        }
                                        .profile-link {
                                            background-position: 0 50%;
                                            background-size: auto;
                                            background-repeat: no-repeat;
                                            color: #888;
                                            font-size: 12px;
                                            cursor: default;
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                                .descr {
                                    margin-top: 15px;
                                    p {
                                        font-size: 14px;
                                        line-height: 1.35;
                                        color: #333333;
                                        margin: 0;
                                    }
                                    .likes {
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                        padding-bottom: 10px;
                                        padding-left: 25px;
                                        border-bottom: 1px solid #dfdfdf;
                                        background-image: url("../BottomSection/images/like-icon.jpg");
                                        background-position: 0 2px;
                                        background-repeat: no-repeat;
                                        color: #5c5c5c;
                                        cursor: pointer;
                                        &:hover {
                                            span {
                                                text-decoration: underline;
                                            }
                                        }
                                        span {
                                            display: inline-block;
                                            font-size: 14px;
                                            margin-top: 2px;
                                        }
                                    }
                                }
                                .control-panel {
                                    display: flex;
                                    .icon {
                                        display: block;
                                        padding-left: 22px;
                                        margin-right: 18px;
                                        background-position: 0 50%;
                                        background-size: auto;
                                        background-repeat: no-repeat;
                                        cursor: pointer;
                                        &:hover {
                                            span {
                                                text-decoration: underline;
                                            }
                                        }
                                        &.like {
                                            background-image: url("../BottomSection/images/like.jpg");
                                        }
                                        &.comment {
                                            background-image: url("../BottomSection/images/comment.jpg");
                                        }
                                        &.share {
                                            background-image: url("../BottomSection/images/share.jpg");
                                        }
                                        span {
                                            font-size: 14px;
                                            color: #5c5c5c;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .about-us {
        padding-top: 55px;
        padding-bottom: 55px;
        background-color: #fff;
        background-image: url("../BottomSection/images/bg-section-10.jpg");
        background-position: 100% 50%;
        background-size: 50% auto;
        background-repeat: no-repeat;
        @media (max-width: 768px) {
            background-image: none;
        }
        .container {
            max-width: 1170px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            .info {
                max-width: 585px;
                @media (max-width: 768px) {
                    max-width: 100%;
                }
                h3 {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 30px;
                    color: #295c79;
                    margin-top: 0;
                    margin-bottom: 18px;
                    text-align: left;
                }
                p {
                    margin-top: 1px;
                    margin-bottom: 15px;
                    color: #12645f;
                    font-size: 15px;
                    padding-right: 15px;
                    line-height: 20px;
                    font-weight: 300;
                    text-align: left;
                }
            }
        }
    }

   .bottom-section {
       padding-top: 30px;
       padding-bottom: 60px;
       background-color: #f0f0f0;
       .container {
           max-width: 1170px;
           margin-left: auto;
           margin-right: auto;
           padding-left: 15px;
           padding-right: 15px;
           p {
               font-size: 14px;
               font-weight: 300;
               line-height: 1.45;
               color: #333;
               margin-top: 0;
               text-align: center;
           }
       }
   }
   .fixed-notification {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #59af89;
        z-index: 9999;
        transition: .2s all;
        &.blinks {
            transform: translateY(100%);
        }
        .wrap {
            padding: 12px 0;
            text-align: center;
            span {
                font-size: 15px;
                color: #ffffff;
            }
        }
    }
    .how-much {
        position: fixed;
        left: 45px;
        bottom: 80px;
        z-index: 100;
        @media(max-width: 991px) {
            display: none !important;
        }
        .wrap {
            position: relative;
            padding: 12px 12px 15px 0;
            border: 1px solid #cdcece;
            border-radius: 10px;
            background-color: #ffffff;
            strong,
            span {
                display: block;
            }
            .flex {
                display: flex;
                .image {
                    padding-left: 15px;
                }
                .info {
                    padding-left: 20px;
                    padding-right: 35px;
                    .name {
                        font-size: 14px;
                        margin-bottom: 3px;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .earn {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }
            }
            .close {
                width: 12px;
                height: 12px;
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    width: 14px;
                    height: 2px;
                    background-color: #cbced3;
                    border-radius: 100px;
                }
                &:after {
                    transform: rotate(-45deg);
                }
                &:before {
                    transform: rotate(45deg);
                }
            }
        }
    }
}