.BottomSection {
   .fixed-notification {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #59af89;
        z-index: 9999;
        transition: .2s all;
        &.blinks {
            transform: translateY(100%);
        }
        .wrap {
            padding: 12px 0;
            text-align: center;
            span {
                font-size: 15px;
                color: #ffffff;
            }
        }
    }
}